# This is an example of the environment variables needed to run the Go application locally (without Docker Compose)
# If you are using Docker Compose, these variables are already set in docker-compose.yml.

# DynamoDB Configuration
LinkTableName=UrlShortenerTable
DynamoDBEndpoint=http://localhost:8000  # Set this only for local DynamoDB. Leave empty for AWS Cloud.
AWS_REGION=us-east-1                    # AWS Region (required by SDK)
AWS_ACCESS_KEY_ID=local                 # Dummy key for local DynamoDB
AWS_SECRET_ACCESS_KEY=local             # Dummy secret for local DynamoDB

# Redis Configuration
RedisAddress=localhost:6379
RedisPassword=
RedisDB=0
